.row
  .col-md-6
    app-recipes-list([recipes]='recipes')
    hr
    button(mat-button, (click)='signUp()') Sign Up
    button(mat-button, (click)='signIn()') Sign In
    button(mat-button, (click)='getProtected()') Get Protected
    button(mat-button, (click)='facebookLogin()') Facebook Login
    button(mat-button, (click)='twitterLogin()') Twitter Login
    button(mat-button, (click)='googleLogin()') Google Login
  .col-md-6
    router-outlet
